@import url("https://fonts.googleapis.com/css2?family=Carrois+Gothic&family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

body {
  margin: 0;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.wrapper {
  background-color: #202123;
  min-height: 100vh;
  width: 100%;
}
.headerContainer {
  font-family: "Poppins", sans-serif;

  height: 200px;
  letter-spacing: 2.2px;
}
.headerTitle {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.introText {
  color: #fff;
  text-align: center;
  font-family: "Roboto Mono", sans-serif;
  letter-spacing: 0.5px;
}
.introText > h2 {
  font-size: 38px;
}
.letterDash {
  height: 50%;
  width: 45%;
  margin: auto;
  text-align: center;
  color: #fff;
}

.gameRules {
  font-family: "Roboto Mono", sans-serif;
  letter-spacing: 2.2px;
}
/* .category-flex > button {
  background-color: #086972;

  color: white;
  font-weight: 700;
  width: 150px;
  height: 35%;
  border: none;
  margin: 10px;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
} */
button:focus {
  color: black;
  outline: green;
  transform: scale(0.95);
}
button:active {
  transform: scale(0.96);
}
.ready-btn {
  background-color: #086972;

  color: white;
  font-weight: 700;
  width: 300px;
  height: 80px;
  border: none;
  margin: 10px;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
}

.letterAmount-flex {
  display: flex;
  height: 30%;
  width: 70%;
  justify-content: space-evenly;
  margin: auto;
}
.letterAmount-flex > button {
  font-weight: 700;
  width: 150px;
  height: 50%;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  cursor: pointer;
  color: white;
  border: none;

  background-color: #086972;
}

.letterAmount-flex .letterAmount-btn:focus {
  color: black;
  outline: #a7ff83;
}
.letterAmount-flex .letterAmount-btn:active {
  transform: scale(0.96);
}

.dashImg {
  width: 184px;
  height: 184px;
  background-repeat: no-repeat;
  background: url("../public/dash180.ico") no-repeat;
}
.headerDash {
  color: #a7ff83;
  font-size: 84px;
}

.summaryRules {
  color: #a7ff83;
}
.headerLetter {
  color: #fff;
  font-size: 84px;
}

.cssanimation,
.cssanimation span {
  margin-top: 20px;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.cssanimation span {
  display: inline-block;
}

.fadeInBottom {
  animation-name: fadeInBottom;
}
@keyframes fadeInBottom {
  from {
    opacity: 0;
    transform: translateY(-30%);
  }
  to {
    opacity: 1;
  }
}
