.category-flex {
  display: grid;
  /*   grid-template-columns: 100px 100px 100px;
 */
  grid-gap: 10px;
  justify-content: center;
}
.grid-container {
  height: 100%;
  width: 100%;
}
.mix .row3 {
  /* Mix */

  grid-column-start: 2;
  grid-column-end: 1.5;
  grid-row-start: 1;
  grid-row-end: 1;
}
.random .row6 {
  /* Random */

  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
}
.food .row4 {
  /* Food */

  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 2;
}

.games .row5 {
  /* Games */
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 2;
}
.tools .row5 {
  /* Tools  */
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 1;
}
.objects .row6 {
  /* Objects */
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
}
.category-flex > button {
  display: grid;
  cursor: pointer;

  background-color: #202123;

  grid-template-rows: repeat(1); /* Adjust the number of rows as needed */
}

/* ------------- Row 3 */
.box3 {
  width: 50px;
  height: 50px;
  font-size: 38px;
  color: white;
  border: 1px solid white;
  display: grid;
  justify-content: center;
  align-items: center;
}

.box3:focus {
  background-color: green;
}
.row3 {
  border: 1px solid blue;
  display: grid;
  grid-template-columns: 50px 50px 50px;

  gap: 5px;
  border: none;
}
.row3:focus-within .box3 {
  animation: flip 0.5s ease forwards;
  animation-fill-mode: both;
  background-color: #5aac39;
}
/* ------------- Row 4 */
.box4 {
  width: 50px;
  height: 50px;
  font-size: 38px;
  color: white;
  border: 1px solid white;
  display: grid;
  justify-content: center;
  align-items: center;
}
.box4:focus {
  background-color: green;
}
.row4 {
  display: grid;
  grid-template-columns: 50px 50px 50px 50px;

  gap: 5px;
  border: none;
}
.row4:focus-within .box4 {
  animation: flip 0.5s ease forwards;
  animation-fill-mode: both;
  background-color: #5aac39;
}
/* ------------- Row 5 */
.box5 {
  width: 50px;
  height: 50px;
  font-size: 38px;
  color: white;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box5:focus {
  background-color: green;
}
.row5 {
  display: grid;
  grid-template-columns: 50px 50px 50px 50px 50px;
  gap: 5px;
  border: none;
}
.row5:focus-within .box5 {
  animation: flip 0.5s ease forwards;
  animation-fill-mode: both;
  background-color: #5aac39;
}
/* ------------- "Random" / Row 6 */
.box6 {
  width: 50px;
  height: 50px;
  font-size: 38px;
  color: white;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box6:focus {
  background-color: green;
}
.row6 {
  display: grid;
  grid-template-columns: 50px 50px 50px 50px 50px 50px;

  gap: 5px;

  border: none;
}
.row6:focus-within .box6 {
  animation: flip 0.5s ease forwards;
  animation-fill-mode: both;
  background-color: #5aac39;
}
/* ------------- Row 7 */
.box7 {
  width: 50px;
  height: 50px;
  font-size: 38px;
  color: white;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box7:focus {
  background-color: green;
}
.row7 {
  display: grid;
  grid-template-columns: 50px 50px 50px 50px 50px 50px 50px;

  gap: 5px; /* Adjust the gap between boxes */

  border: none;
}
.row7:focus-within .box7 {
  animation: flip 0.5s ease forwards;
  animation-fill-mode: both;
  background-color: #5aac39;
}
@keyframes flip {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
