@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
.popup-gameover {
  margin: auto;
  background: #33282c;
  border-radius: 5%;
  width: 100%;
  height: 600px;
  min-height: 60%;
  padding: 5px;
}
.popup-info {
  color: white;
  font-family: "Inter", sans-serif;
}

.popup-info > h2 {
  margin-top: 10%;
}

.popup-info > h1 {
  margin-bottom: 10%;
}

.popup-home-btn {
  width: 30%;
  height: 15%;
  font-size: 32px;
  margin-right: 5%;
}

.popup-play-btn {
  margin-left: 5%;
  width: 30%;
  height: 15%;
  font-size: 32px;
  white-space: nowrap;
}
